name: build-and-repack-boot

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

        
      - name: Install magiskboot
        run: |
          set -eux
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends unzip curl ca-certificates

          MAGISK_VER="26.4"
          URL="https://github.com/topjohnwu/Magisk/releases/download/v${MAGISK_VER}/Magisk-v${MAGISK_VER}.apk"

          curl -fL --retry 5 --retry-delay 2 -o magisk.apk "$URL"
          file magisk.apk
          unzip -q magisk.apk

          chmod +x lib/x86_64/magiskboot
          sudo mv lib/x86_64/magiskboot /usr/local/bin/magiskboot
          magiskboot --help | head -n 5 || true


      - name: Install magiskboot
        run: |
          set -eux
          curl -L -o magisk.apk https://github.com/topjohnwu/Magisk/releases/latest/download/Magisk-v26.4.apk
          unzip -q magisk.apk
          chmod +x lib/x86_64/magiskboot
          sudo mv lib/x86_64/magiskboot /usr/local/bin/magiskboot

      - name: Build dtbTool (libufdt)
        run: |
          set -eux
          git clone --depth=1 https://android.googlesource.com/platform/system/libufdt
          cd libufdt
          make -j"$(nproc)"
          sudo cp utils/src/dtbTool /usr/local/bin/dtbTool

      - name: Build kernel (Image.gz + dtb)
        run: |
          set -eux
          chmod +x ./build_kernel.sh
          ./build_kernel.sh
          test -f out/Image.gz
          test -d out/dtb

      - name: Pack kernel_dtb (pagesize 4096)
        run: |
          set -eux
          dtbTool -o out/kernel_dtb -s 4096 out/dtb
          test -f out/kernel_dtb
          ls -lah out/kernel_dtb

      - name: Repack boot.img with new kernel + dtb
        run: |
          set -eux
          test -f boot.img
          cp boot.img boot-base.img

          magiskboot unpack boot-base.img

          # 你的是 boot header v0 + kernel_dtb 分离结构：两个都替换
          cp out/Image.gz kernel
          cp out/kernel_dtb kernel_dtb

          magiskboot repack boot-base.img
          mv new-boot.img boot-nfc.img
          ls -lah boot-nfc.img

      - name: Upload boot
        uses: actions/upload-artifact@v4
        with:
          name: boot-nfc
          path: boot-nfc.img
